<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<style>
	.area{border: 1px solid black; min-height: 100px;}
</style>
</head>
<body>
	<h1>이벤트</h1>
	
	<h2>이벤트 설정 방법</h2>
	<h3>고전 이벤트 모델</h3>
	<button id="test1">test1() 실행확인</button>
	<button id="test2">test2() 실행확인</button>
	<div id="area1" class='area'></div>
	<script>
		var area = document.getElementById('area1');
		
		var test1 = document.getElementById('test1');
		var test2 = document.getElementById('test2');
		
		test1.onclick=function(){
			area.innerHTML += 'test1이 실행되었습니다<br>';
		}
		
		test2.onclick=function(){
			area.innerHTML += 'test2가 실행되면서 test1이벤트를 제거하였습니다<br>';
			test1.onclick = null; // test1 누르다가 test2 누르면 더 이상 test1은 눌러지지 않음
		}
	</script>
	
	<h4>이벤트 발생 객체</h4>
	<button id="test3">test3() 실행확인</button>
	<script>
		// test3 버튼을 누르면 버튼의 배경이 까만색, 글자는 하얀색으로 변경
		// 그 상태에서 한 번 더 누르면 원래대로 되돌아옴
		// 그 상태에서 한 번 더 누르면 배경 까만색, 글자 하얀색 변경
		// 그 상태에서 한 번 더 누르면 원래 되돌아옴(반복)
		var button = document.getElementById('test3');
		
		var count = 0;
		test3.onclick=function(){
			count++;
			
			if(count % 2 != 0) {
				this.style.backgroundColor = 'black'; // 내가 적용하고자 하는 게 같은 쪽에 있으면 this 쓰면 됨
				this.style.color = 'white';
			} else {
				this.style.backgroundColor = null;
				this.style.color = null;
			}
		}
	</script>
	
	<h3>인라인 모델</h3>
	<!-- 방법1 -->
	<button onclick="test4();">test4() 실행확인</button>
	<script>
		function test4(){
			alert('test4()가 실행되었습니다.');
		}
	</script>
	
	<!-- 방법2 -->
	<button onclick="alert('test가 실행되었습니다.')">test4() 실행확인</button> 
	
	<h3>표준 이벤트 모델</h3>
	<button id="test5">test5() 실행확인</button>
	<button id="test6">test6() 실행확인</button>
	<div id="area2" class='area'></div>
	<script>
		var test5 = document.getElementById('test5');
		var area2 = document.getElementById('area2');
		
		function fn_test5(){
			area2.innerHTML += 'test5가 클릭되었습니다.<br>';
		}
		
		function fn_test5_2(){
			area2.innerHTML += 'test5에 들어왔습니다.<br>';
		}
		
		test5.addEventListener('click', fn_test5); // test5 요소(버튼)를 click하면 fn_test5함수가 실행되도록 하는 이벤트를 넣겠다!
		test5.addEventListener('mouseover', fn_test5_2); // test5 요소(버튼)에 마우스 오버(갖다대기만 하면)를 하면 fn_test5_2 함수가 실행되도록 하는 이벤트를 넣겠다
		
		
		var test6 = document.getElementById('test6');
		
		// 방법1
		/* function fn_test6(){
			area2.innerHTML += 'test6이 실행되면서 test5 클릭 이벤트 제거<br>';
			test5.removeEventListener('click', fn_test5);
		} // test6에 마우스가 올라가면 test5 이벤트 삭제시킴
		
		test6.addEventListener('mouseover', fn_test6); // test6버튼에 마우스 오버를 하면 fn_test6 함수가 실행됨  */
		
		// 방법2 (한 번에 쓰기)
		test6.addEventListener('mouseover', function(){
			area2.innerHTML += 'test6이 실행되면서 test5 클릭 이벤트 제거<br>';
			test5.removeEventListener('click', fn_test5);
		}); 
	</script>
	
	<h2>기본 이벤트 제거1</h2>
	<form>
		<label>이름 : </label><input type="text" name="name" id="name"><br>
		<label>아이디 : </label><input type="text" name="userId" id="userId"><br>
		<label>비밀번호 : </label><input type="password" name="password" id="password"><br>
		<label>비밀번호 확인 : </label><input type="password" name="passwordConfirm" id="passwordConfirm"><br>
		<input type="submit" value="제출" onclick="return test7();"> <!-- false일 때 값이 넘어가는 걸 막기 위해 test7();이 아니라 return test7();로 해야함 -->
	</form>
	<script>
		function test7(){
			var password = document.getElementById('password').value;
			var passwordConfirm = document.getElementById('passwordConfirm').value;
			
			if(password == passwordConfirm){
				alert('비밀번호가 일치합니다.');
				return true;
				// 비밀번호가 일치합니다라는 문구가 뜨면서 값이 넘어가고 있음
			} else {
				alert('비밀번호가 일치하지 않습니다.');
				document.getElementById('passwordConfirm').select(); // 잘못 입력했던 값은 넘어가지 않고 그대로 존재
				return false; // test7()이 false가 되는 거임 =====> return test7();이 return false가 되면서 값이 넘어가지 않도록 막아줌
				// 비밀번호가 일치하지 않는다는 문구가 뜨면서 '값이 넘어가고 있음' => 이를 방지해주기 위해 onclick="return test7();"으로 해줌
			}
		}
	</script>
	
	<h2>기본 이벤트 제거2</h2>
	<form onsubmit="return test8();"> <!-- 제출하는 것에 있어서 test8을 참고하겠다 -->
		<label>이름 : </label><input type="text" name="name2" id="name2"><br>
		<label>아이디 : </label><input type="text" name="userId2" id="userId2"><br>
		<label>비밀번호 : </label><input type="password" name="password2" id="password2"><br>
		<label>비밀번호 확인 : </label><input type="password" name="passwordConfirm2" id="passwordConfirm2"><br>
		<input type="submit" value="제출"> 
	</form>
	<script>
		function test8() {
			var password = document.getElementById('password2');
			var passwordConfirm = document.getElementById('passwordConfirm2');
			
			if(password.value == passwordConfirm.value){
				alert('비밀번호가 일치합니다.');
				return true;
			} else {
				alert('비밀번호가 일치하지 않습니다.');
				passwordConfirm.select(); // 잘못 입력했던 값은 넘어가지 않고 그대로 존재
				return false;
			} 
		}
	</script>

</body>
</html>