<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<style>
	fieldset{text-align: center; width: 450px;}
	.box{padding: 10px; background: lightgray; width: 460px; height: 50px; display: none;}
</style>
</head>
<body>
	<h1>Practice5</h1>
	<fieldset id="search">
		<legend>검색할 항목을 선택하세요</legend>
		<input type="radio" name="search" value="제목" onclick="selected(this);"><label>제목</label>
		<input type="radio" name="search" value="날짜" onclick="selected(this);"><label>날짜</label>
		<input type="radio" name="search" value="작성자" onclick="selected(this);"><label>작성자</label>
	</fieldset>
	
	<br>
	
	<div id="titleBox" class="box">
		<label>검색할 제목을 입력하세요 : </label>
		<br>
		<input type="search" name="title" size="50">
		<input type="submit" value="검색">
	</div>
	
	<div id="dateBox" class="box">
		<label>검색할 날짜를 입력하세요 : </label>
		<br>
		<input type="date" name="start"> -
		<input type="date" name="end">
		<input type="submit" value="검색">
	</div>
	
	<div id="writerBox" class="box">
		<label>검색할 작성자 아이디를 입력하세요 : </label>
		<br>
		<input type="search" name="writer" size="25">
		<input type="submit" value="검색">
	</div>
	
	<script>
		function selected(cate){
			if(cate.value == "제목"){
				document.getElementById("titleBox").style.display = "block"; // 요소를 block요소처럼 표시
				document.getElementById("dateBox").style.display = "none";
				document.getElementById("writerBox").style.display = "none";
			} else if(cate.value == "날짜"){
				document.getElementById("titleBox").style.display = "none"; 
				document.getElementById("dateBox").style.display = "block";
				document.getElementById("writerBox").style.display = "none";
			} else {
				document.getElementById("titleBox").style.display = "none"; 
				document.getElementById("dateBox").style.display = "none";
				document.getElementById("writerBox").style.display = "block";
			}
		}
	</script>
	
</body>
</html>